/* =============================================================================
   HTML5 Boilerplate CSS: h5bp.com/css
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

svg:not(:root) { overflow: hidden; }

figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }



/* ===== Primary Styles ========================================================
   Author: altryne  - alexw.me
   ========================================================================== */
html,body{
    height: 100%;
    margin:0;
    padding:0;
}
#main{
    width: 100%;
    height: 100%;
}
#choose>h1,#choose>h2{
    text-align: center;
}
#choose>h1{
    font-size: 30px;
    padding-top:15px;
    margin-top:0;
}
#choose>h2{
    font-size: 20px;font-weight: normal;
    margin-bottom:0;
    padding-bottom:0;
}
.bold{
    font-weight: bold;
}
.social_buttons {
    width: 150px;
    list-style: none;
    position: fixed;
    top: 55px;
    left: 50%;
    margin-left: -505px;
    padding: 0;
}
.social_buttons .title{
    background: url('../img/sprite.png') no-repeat 0 0;

}
.social_buttons li{
    padding: 2px 0;
    list-style: none;
    height: 25px;
}
.credits{
    width: 150px;
    list-style: none;
    position: fixed;
    top: 300px;
    left: 50%;
    margin-left: -505px;
    padding: 0;
}
.credits li{
    padding: 2px 5px;
    list-style: none;
    height: 20px;
    font-size: 14px;
    color:#747474;
}
.credits a{
    color: #747474;
}
.credits li.ir{
    margin:5px 0  0 0;
}
.title2{
    background: url('../img/sprite.png') no-repeat -1px -34px;
}
.title3{
    background: url('../img/sprite.png') no-repeat -1px -69px;
}
.title4{
    background: url('../img/sprite.png') no-repeat -1px -102px;
}
#choose{
    margin: 0 auto;
    width:740px;
    padding-left:0;
    text-align: center;
    position: relative;
    min-height: 100%;
    background: url(../img/light_wool.png);
    border:2px solid #656565;
}
.boxshadow #choose{
    border:none;
    -moz-box-shadow: 0 0 2px #000;
    -webkit-box-shadow: 0 0 2px #000;
    -o-box-shadow: 0 0 2px #000;
    -ms-box-shadow: 0 0 2px #000;
    box-shadow: 0 0 2px #000;
}
#arrows{
    height:120px;
}
#arr1{
    background: url('../img/sprite.png') no-repeat 0 -158px;
    width: 56px;
    height: 66px;
    position: absolute;
    left:210px;
    top:120px;
}
#arr2{
    background: url('../img/sprite.png') no-repeat 0 -253px;
    width: 35px;
    height: 73px;
    position: absolute;
    right:270px;
    top:120px;
}
#arr3{
    position: absolute;
    right: 30px;
    top: 280px;
    background: url('../img/sprite.png') no-repeat 0 -347px;
    width: 71px;
    height: 135px;
}
#gen_cont{
    text-align: left;
    padding-left:40px;
}
#setting,#service{
    display: inline-block;
    width:180px;
    height:30px;
    border: 8px dashed #afafaf;
    cursor: pointer;
    vertical-align: middle;
    border-radius: 5px;
    font-size: 20px;
    padding-top:150px;
    background-repeat: no-repeat;
    background-position: 20% 30%;
    margin:0 35px;
    position: relative;
}
#setting:hover,#service:hover{
    border-color:#656565;
}
#setting{
    height: 180px;
    padding: 0px 20px;
    width: 140px;
    font-weight: bold;
    font-size: 23px;
}
#setting .height_div{
    height: 100%;
    vertical-align: middle;
    width: 1px;
    background: green;
    display: inline-block;
    margin-left: -10px;
    visibility: hidden;
}
#service .text{
    padding-left: 5px;
    width: 135px;
    text-align: center;
}
#setting::after,#service::after{
    display: inline-block;
    height: 16px;
    width: 30px;
    background: url(../img/arr.png) 0 0 no-repeat;
    content: "";
    vertical-align: middle;
    margin-left: 1px;
    position: absolute;
    top: 50%;
    margin-top: -4px;
    right: 0px;
}
#setting .text{
    display: inline-block;
    vertical-align: middle;
}
#title,#in{
    display: inline-block;
    vertical-align: middle;
    font-size: 35px;
    font-weight: bold;
}
#settings,#services{
    display: none;
    position: absolute;
    list-style: none;
    padding: 6px 0 14px;
    text-align: left;
    background: white;
    border: 5px dashed #656565;
    width: 630px;
    left: 50%;
    margin: 0 0 0 -104px;
    top: -9px;
    z-index: 15;
    height: 175px;
}

#settings li,#services li{
    font-size: 15px;
    cursor: pointer;
    padding:5px 10px;
    cursor: pointer;
    display: inline-block;
    min-width:170px;
    font-weight: normal;
}
#settings li:hover,#services li:hover{
    background-color: #eee;
    font-weight: bold;
}
#services{
    width: 415px !important;
    margin-left: -114px !important;
}
#services li{

    background-repeat: no-repeat;
    font-weight: normal;
    min-width: 80px;
    padding: 8px 0 8px 45px;
}


#action{
    margin-top:30px;
    text-align: left;
    padding-left: 74px;
    padding-top: 25px;
    position: relative;
}
#link{
    border-bottom: 5px dashed #AFAFAF;
    font-size: 18px;
    color: #1D1D1D;
    padding-bottom: 5px;
    width: 390px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top:17px;
}
#no_cont{
    display: none;
}
.no_cont #no_cont{
    display: block;
}
.no_cont #go_cont{
    display: none;
}

.button {
    background: url(../img/sprite.png) no-repeat 0 -495px;
    width: 140px;
    height: 89px;
    opacity: 0.6;
    display: block;
    position: absolute;
    left: 0px;
    top: 1px;
}
#go:hover .button{
    opacity: 1;
}
.button:active {

}
#go{
    display: inline-block;
    background: url('../img/sprite.png') no-repeat 27px -585px;
    width: 71px;
    height: 37px;
    position: absolute;
    right: 35px;
    padding: 35px;
    top: -5px;
}
.title5{
    background: url(../img/sprite.png) 0 -670px no-repeat;
    height: 100px;
    margin-left: 35px;
}
#disqus_thread{
    width: 650px;
    background: white;
    margin: 0 auto 35px auto;
    border: 1px dashed #D1D1D1;
    padding: 0 15px;
    text-align: left;
    font-size: 12px;
}
#disqus_thread a{
    color:#222
}
/* social icons*/
.backgroundsize #services li{
    background-size: 28px;
    background-position: 10px 50%;
}

#facebook ,#service.facebook{background-image:url(../img/facebook.png)}
#twitter ,#service.twitter{background-image:url(../img/twitter.png)}
#pinterest ,#service.pinterest{background-image:url(../img/pinterest.png)}
#tumblr ,#service.tumblr{background-image:url(../img/tumblr.png)}
#youtube ,#service.youtube{background-image:url(../img/youtube.png)}
#foursquare ,#service.foursquare{background-image:url(../img/foursquare.png)}
#linkedin ,#service.linkedin{background-image:url(../img/linkedin.png)}
#google ,#service.google{background-image:url(../img/google.png)}
#meetup ,#service.meetup{background-image:url(../img/meetup.png)}
#stumbleupon ,#service.stumbleupon{background-image:url(../img/stumbleupon.png)}
#path ,#service.path{background-image:url(../img/path.png)}
#instagram ,#service.instagram{background-image:url(../img/instagram.png)}
#flickr ,#service.flickr{background-image:url(../img/flickr.png)}


/*small icons*/
.no-backgroundsize #services li, #services li{
    background-image: url(../img/all-icons.png) !important;
    background-repeat: no-repeat !important;
    height: 16px;
}
#facebook{background-position:8px -187px;}
#twitter{background-position:8px -29px;}
#pinterest{background-position:8px -281px;}
#tumblr{background-position:8px -60px;}
#youtube{background-position:8px 3px;}
#foursquare{background-position:8px -249px;}
#linkedin{background-position:8px -123px;}
#google{background-position:8px -407px;}
#meetup{background-position:8px -312px;}
#stumbleupon{background-position:8px -91px;}
#path{background-position:8px -375px;}
#instagram{background-position:8px -344px;}
#flickr{background-position:8px -154px;}




/* =============================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {
	/* Style adjustments for viewports that meet the condition */
}

/* =============================================================================
   Non-Semantic Helper Classes
   ========================================================================== */

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

/* =============================================================================
   Print Styles
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
