<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteRule ^(js|css|img)($|/) - [L]
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^faq/ /faq.html [NC] 302
#	RewriteRule . /index.html [NC]
</IfModule>